亲爱的用户$nicName:

   	您好！星促零售社群的用户。

   	这是一封认证邮件，您的验证码：$code
	
	请填写验证码完成邮箱修改。

  	上述验证码1分钟内有效。如果验证码失效，请您登录网站  
  		
  	http://139.196.222.90:8088/micro/index
  		 

                                                	星促零售社群
                                               	 	$date